<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <p>{{ msg }}</p>
      <input type="text" v-model="msg" value="123456" />
      <hr />
      <p>{{ desc }}</p>
      <textarea v-model="desc"></textarea>
      <hr />

      <!--select 框的value值,就是选中的option的value值,既可以用于获取,也可以用于设置  -->
      <p>{{ hobbyId }}</p>
      <select v-model="hobbyId">
        <option value="1">吃饭</option>
        <option value="2">睡觉</option>
        <option value="3">打豆豆</option>
      </select>
      <hr />
      <input type="checkbox" v-model="isSingle" checked />是否单身
    </div>
    <script src="./vue.js"></script>
    <script>
      const vm = new Vue({
        el: "#app",
        data: {
          msg: "hello vue",
          desc: "描述：鹏鹏老师帅帅哒",
          hobbyId: 3,
          isSingle: false
        }
      });
    </script>
  </body>
</html>
